{% extends "layout.html" %} {% block content %}
<header class="main-header">
  <div class="background-overlay text-white py-5">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 text-left justify-content-center align-self-center"
        >
          <h1>Abraham Nadir</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
            voluptatum non est sequi quibusdam beatae distinctio, asperiores
            consequuntur, quam ipsam voluptate rerum harum vero, at maxime
            soluta? Laborum, exercitationem dignissimos.
          </p>
          <a
            href="/templates/proyects.html"
            class="btn btn-outline-secondary btn-lg text-white"
          >
            Leer mas</a
          >
        </div>
        <div class="col-md-6">
          <img
            class="img-fluid"
            src="/static/917wnLEhoiL._SL1500_.jpg"
            alt="Imagen del producto"
          />
        </div>
      </div>
    </div>
  </div>
</header>
<!--Features-->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body text-center border-primary">
            <h3>Carac</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sunt
            veritatis suscipit deleniti officiis possimus sapiente, placeat
            quisquam fugiat quos quo accusantium eligendi? Voluptates mollitia
            debitis, nesciunt voluptate sunt totam.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body text-center border-primary">
            <h3>Carac</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sunt
            veritatis suscipit deleniti officiis possimus sapiente, placeat
            quisquam fugiat quos quo accusantium eligendi? Voluptates mollitia
            debitis, nesciunt voluptate sunt totam.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body text-center border-primary">
            <h3>Carac</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sunt
            veritatis suscipit deleniti officiis possimus sapiente, placeat
            quisquam fugiat quos quo accusantium eligendi? Voluptates mollitia
            debitis, nesciunt voluptate sunt totam.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body text-center border-primary">
            <h3>Carac</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sunt
            veritatis suscipit deleniti officiis possimus sapiente, placeat
            quisquam fugiat quos quo accusantium eligendi? Voluptates mollitia
            debitis, nesciunt voluptate sunt totam.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
